@import "component/header.scss";
@import "component/footer.scss";


html,body{
    width: 100%;
    overflow-x: hidden;
}
//banner
.banner{
    width: 100%;
    height:436px;
}
.banner .img{
    height: 436px;
    width:1263px;
    margin: 0 auto;
    background: (url(/img/soccer/banner/1.jpg) no-repeat center center);
    background-size: 100%;
}
//cont
.cont1{
    width: 100%;
    height: 68px;
}
.cont1 .head{
    margin: 0 auto;
    width: 1192px;
    height:68px ;
}
.cont1 ul{
    float: left;
}
.cont1 .head li{
    float: left;
    margin:0 4px;
    height: 68px;
    line-height: 68px;
    font-size: 12px;
    
}
.cont1 .head li span{
    font-family:initial
}
.cont1 .head li:nth-child(5){
    color: red;
}
.cont1 .head li a{
    color: #333333;
}

.cont2{
    width: 1192px;
    height:1975px;
    margin: 0 auto;
}
.cont2 .nav{
    float: left;
    width: 248px;
    height: 100%;
    background:url(/img/soccer/banner/3.jpg) no-repeat center 0;
}
.cont2 .box{
    float: left;
    width: 942px;
    height:100%;
}
.cont2 .box .page-list{
    width: 100%;
    height: 193px;
    background: url(/img/soccer/banner/4.jpg) no-repeat center center;
}
#allitems{
    width: 100%;
    height:1359px;
} 
#allitems dl{
    float: left;
    width: 235px;
    height: 450px;
    border-right: none;
    border-bottom: none;
    position: relative;
}
#allitems dl a{
    position: absolute;
    display: inline-block;
    text-align: center;
    line-height:30px;
    height:30px;
    width:100px;
    top: 10px;
    left: 60px;
    background-color:deepskyblue;
}
#allitems dl dt{
    margin-left: 10px;
    width:213px;
    height: 370px;
    border-bottom: 1px solid #cccccc;
     transition: all 0.3s linear;
}
#allitems dl:hover dt{
 opacity: 0.4;
}
#allitems dl dd{
    width:213px;
    height: 30px;
    line-height: 30px;
    font-size: 14px;
    font-family: inherit;
    text-align: center;
}
